* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5cdb95;
  color: #edf5e1;
  font-family: 'Times New Roman', Times, serif;
  font-size: 13px;
  line-height: 2.5em;
  width: 90%;
  float: right;
}

#navigationbar {
  font-size: 30px;
  text-align: center;
  line-height: 70px;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 70px;
  box-shadow: 10px 10px 5px #379683;
  color: #05386b;
  background-color: #5cdb95;
  padding-right: 70px;
  min-width: 500px;
}

#top-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}

li a {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #05386b;
  font-weight: bolder;
}

#navigationbar a:hover {
  background-color: #379683;
  color: white;
  border-radius: 5px;
}

#info {
  margin-top: px;
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
  vertical-align: middle;
  height: 550px;
  background-color: #5cdb95;
  font-size: 2em;
  text-align: center;
}

#information {
  position: relative;
  padding-top: 15%;
}

#photo img {
  position: fixed;
  margin: auto;
  left: 15px;
  top: 70px;
  border-radius: 50%;
  width: 12%;
  float: left;
  opacity: 0.9;
  z-index: 3;
}

aside {
  height: 100%;
  width: 200px; /* width of the sidebar */
  position: fixed; /* Fixed Sidebar */
  z-index: 2; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #379683;
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#education {
  height: 550px;
  width: 100%;
  background-color: #8ee4af;
  font-size: 2em;
  text-align: center;
}

#graduation {
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  color: #05386b;
}

#work {
  height: 550px;
  width: 100%;
  background-color: #5cdb95;
  font-size: 2em;
  text-align: center;
}

#workexperince {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10%;
}

#contact {
  height: 600px;
  width: 100%;
  background-color: #8ee4af;
  color: #05386b;
}

#contact-title {
  text-align: center;
}
#contacts {
  padding-top: 7%;
  padding-bottom: 10%;
  font-size: 1.5em;
}

form {
  padding-left: 20%;
  padding-right: 10%;
  float: left;
}

#comics {
  position: relative;
  width: 25%;
  padding: 25px;
  background-color: white;
  box-shadow: 10px 10px 5px #05386b;
  float: right;
  margin-right: 50px;
  margin-bottom: 50px;
}

input,
select {
  padding: 10px;
  font-size: 15px;
}

#social-buttons {
  display: table;
  width: 100%;
  height: 100px;
}

#social-test {
  display: block;
  padding-top: 25px;
  text-align: center;
  font-size: 40px;
}

#social:hover > li {
  opacity: 0.5;
  cursor: pointer;
}

#social:hover > li:hover {
  opacity: 1;
  cursor: pointer;
}

#nick,
h2 {
  text-shadow: 2px 2px 4px #000000;
}

.button {
  background-color: #5cdb95;
  margin-top: 500px;
  font-weight: bold;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
